body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f4f4f4;
}

canvas {
    border: 1px solid #ccc;
    animation: fadeIn 1s ease-out;
    margin-left: 10%;
}

#SeccionGrande1 {
    display: flex;
}

#SeccionTitulo {
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}